// _variables.scss

//colores tipografías//
$c-titulos: #F8C428;
$c-subtitulos: #0E3245;
$c-parrafo: #165678;

//colores generales//
$c-fondo: #5BC721;
$c-highlighted: #8475E6;

//Padding, margin//
$space-1: 5px;
$space-2: 8px;
$space-3: 10px;
$space-4: 12px;
$space-5: 14px;
$space-6: 18px;
$space-7: 20px;
$space-8:24px;

//bordes//
$b-redondo: 50px;
$b-solido: 2px solid black;
$b-sombreado: 2px 2px 2px #635f5f;

//estilos tipografías//
$f-titulo: 18px;
$f-grande: 12px;
$f-mediana: 10px;
$f-chica: 8px;
$f-colorclaro: #ffffff;
$f-colorboton: #0E3245;
$f-clase: "Poppins", sans-serif;

//@mixin flexbox para header//

@mixin headerflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $space-7;
}

@mixin estiloheader {
    background-color: $c-fondo;
    color: $c-subtitulos;
    text-decoration: none;
    font-family: $f-clase;
}

@mixin card {
    background-color: $c-titulos;
    padding: $space-6;
    text-align: center;
    font-family: $f-clase;
    color: $c-subtitulos;
    width: 300px;
    height: 180px;
    border-radius: $b-redondo;
    align-items: center;
    margin: $space-7 0px 0px $space-7;
    box-shadow: $b-sombreado;
    font-size: $f-mediana;
  
}

@mixin boton {
    background-color: $c-fondo;
    color: $f-colorboton;
    padding: $space-2;
    font-size: $f-grande;
    border-radius: $space-2;
    margin: $space-8;
    box-shadow: $b-sombreado;
}