@use "./variables" as var;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding:0;
}
//--seccion header
.header__headerbox {
    @include var.headerflex;
    @include var.estiloheader;
}

.headerbox__link {
        font-size: 1.6rem;
        text-decoration: none; }

.nav__link {
    text-decoration: none;
    padding: var.$space-6;}

.nav__link:hover {
        color: var.$c-titulos;
    }

    //--seccion main
.card .card {
    @include var.card;

    &__title {
        font-size: var.$f-titulo;
        text-align: center;
        padding-top: var.$space-3;
    }

    &__content {
        text-align: center;
        padding: var.$space-2 var.$space-2 var.$space-6 var.$space-6;
    }

    &__button {
        @include var.boton;
    align-self: center;
    }

     &--highlighted {
    background-color: var.$c-highlighted;
}
}


