@use "./variables" as var;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding:0;
}

.headerbox {
    @include var.headerflex;
    @include var.estilosheader;

    &.logo {
        font-size: 2rem;
    }

    & a {
        padding: 15px;
    }

    & a:hover {
        color: var.$colortitulos;
    }
}

.card {
    @include var.card;
  

    &__title {
        font-size: 20px;
        text-align: center;
        padding-top: 10px;
    }

    &__content {
        font-size: 10px;
        text-align: center;
        padding: 10px 10px 20px 20px;
    }

    &__button {
        @include var.boton;
    align-self: center;
    }

     &--highlighted {
    background-color: var.$colorhigh;
}

}
